<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отклик на заказ</title>
</head>
<body>
{% for offer in all_offers %}
<p>Номер заказа: {{offer.order_id}} Исполнитель: {{offer.executor_id}}</p>
<p></p>
{% endfor %}
{{ id }}
<form action = "/offers/{{id}}" enctype="multipart/form-data" method = "put">
   <p>Номер заказа<input type = "text" name = "order_id"><p/>
   <p>Исполнитель<input type = "text" name = "executor_id"><p/>
    <input type = "submit" value = "Add">
</form>
</form>
<form action = "/offers/{{id}}" enctype="multipart/form-data" method = "delete">
    <input type = "submit" value = "Delete">
</form>
</body>
</html>